body {
  margin: 10px;
  background-color: blueviolet;
  background-image: url("./images/3150115.png");
  background-repeat: no-repeat;
  background-position: 50% 5px;
}

h1,
h2,
li,
button {
  color: bisque;
}

button {
  width: 100px;
  height: 35px;
  background-color: transparent;
  border: 2px solid bisque;
}

input {
  background-color: transparent;
  padding: 10px;
  width: 150%;
  height: 35px;
  border: 2px solid bisque;
}

input::placeholder {
  color: bisque;
}

header {
  display: flex;
  justify-content: left;
  width: 100%;
  margin-left: 100px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

section {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.refresh-score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.score-list {
  list-style: none;
  width: 50%;
  border: 2px solid bisque;
  padding: 0;
}

.score-list li {
  padding: 5px;
}

li:nth-child(even) {
  background-color: bisque;
  color: #000;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
